# Environment variables
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data and cache
data/
cache/
database/
uploads/

# Logs
*.log
api_nexus.py
vms_database.db
delete_jobs_from_csv.sh
test.csv
.py
documentation.md
job_ids.csv
oauth_jobs_1.csv
oauth_jobs.csv
csv_al.py
api_nexus_oauth_jobs.py
do-app.yaml


